.cart {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.back {
  display: inline-block;
  margin: 16px 0 8px 20px;
  text-decoration: none;
  color: #007bff;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.items {
  list-style: none;
  margin: 0;
  padding: 0;
  max-height: 400px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 16px;
  border-radius: 12px;
  background: #9cceff;
  font-size: 14px;
  margin: 0 25px;
}

.title {
    font-size: 20px;
  flex: 1;
  margin-right: 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  color: #333;
}

.countPrice {
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 31, 31);
    text-align: right;
    min-width: 80px;
}

.delete {
  border-radius: 8px;
  border: none;
  background: #040085;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 10px;
  margin-left: 12px;

  &:hover {
    background: #444;
  }
}

.right {
  margin-top: 32px;
  border-top: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

.total {
  display: flex;
  align-items: center;
  gap: 20px;

  p {
    font-size: 18px;
    color: #505050;
    margin: 0;
  }

  h4 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
  }
}

.order {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    background: #0056b3;
  }
}
