.container {
    display: flex;
    gap: 3rem;
    //   max-width: 1200px;
    margin: 0 110px;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;

    .textColumn {
        flex: 1;
        min-width: 300px;

        h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        }

        p, ul {
        font-size: 1rem;
        line-height: 1.75;
        color: #1f2937;
        margin-bottom: 1rem;
        }

        ul {
        padding-left: 1.5rem;
        }        
    }

    .cardsColumn {
        display: flex;
        // flex-direction: column;
        gap: 2rem;
        flex: 1;
        min-width: 250px;
        align-items: center;
        justify-content: center;

        @media (max-width: 900px) {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        }
    }
}

.price {
    display: flex;
    justify-content: left;

    .buttonPrice {
        background: linear-gradient(90deg, #0e11b9, #187ef3);
        color: #fff;
        padding: 12px 22px;
        border-radius: 16px;
        font-weight: 600;
        margin-bottom: 32px;
        font-size: 18px;
        cursor: pointer;
        box-shadow: 0 8px 16px rgba(0,0,0,0.25);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        text-decoration: none;

        &:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.35);
        }

        &:focus {
        outline: 3px solid rgb(93, 190, 255);
        outline-offset: 2px;
        }
    }
}

@media (max-width: 1400px){
    .container{
        margin: 0 80px;
    }
    .cardsColumn{
        max-width: 290px;
        flex-direction: column;
    }
    .price{
        .buttonPrice{
            font-size: 16px;
        }
    }    
}

@media (max-width: 1050px){
    .container{
        margin: 0 70px;
        display: grid;
        margin-bottom: 0;
        gap: 20px;
    }
    .cardsColumn{
        flex-direction: row;
        max-width: 100%;
    }
    .price{
        .buttonPrice{
            font-size: 14px;
        }
    } 
}

@media (max-width: 700px) {
    .container{
        margin: 0 45px;
        .textColumn{
            p, ul{
                font-size: 14px;
                margin-bottom: 10px;   
            }
        }
    }
    .price{
        .buttonPrice{
            margin-bottom: 20px;
        }
    }
}

@media (max-width: 500px){
    .container{
        margin: 0 28px;
        gap: 10px;
    }
}