.orderPage {
  
  padding: 0 32px;

  h1 {
    margin-bottom: 32px;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.backButton {
  display: inline-flex;
  align-items: center;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 5px;
  color: #fff;
  background: linear-gradient(135deg, #18aaff, #4e5aff); // яркий градиент
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(78, 90, 255, 0.4);
  img{
    width: 35px;
    height: 35px;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    filter: brightness(0) invert(1);
  }
  &:hover {
    background: linear-gradient(135deg, #4e5aff, #18aaff);
    box-shadow: 0 6px 16px rgba(78, 81, 255, 0.5);
  }

  &:active {
    box-shadow: 0 4px 12px rgba(78, 105, 255, 0.4);
  }
}

.content {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-top: 15px;
}

/* ЗАКАЗ */
.summary {
  background: #ffffff;
  padding: 17px 24px;
  border-radius: 12px;
  border: 1px solid #00186869;
}

.product {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #61a2f894;

  &:last-child {
    border-bottom: none;
  }
}

.title {
  font-size: 15px;
}

.count {
  white-space: nowrap;
}

.price {
  font-weight: 600;
  white-space: nowrap;
}

.total {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

/* ФОРМА */
.form {
  background: #aeceff3b;
  padding: 17px 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  input,
  textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #4772ff;
  }

  textarea {
    resize: vertical;
  }

  button {
    margin-top: 12px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }
}

.errorInput {
  border: 1px solid red;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}


@media (max-width: 1400px){
  .backButton{
    padding: 8px 16px;
    font-size: 14px;
  }
  .backButton{
    img{
      width: 30px;
      height: 30px;
    }
  }
}

@media (max-width: 950px) {
  .orderPage{
    padding: 0 25px;
  }
  .header{
    margin-bottom: 0;
  }
  .content {
    grid-template-columns: 1fr;
  }  
  .backButton{
    font-size: 12px;
    img{
      width: 25px;
      height: 25px;
    }
  }
  .summary{
    padding: 12px 19px;
  }
  .product{
    gap: 8px;
  }
  .total{
    font-size: 18px;
    margin-top: 16px;
  }
  .form{
    padding: 12px 19px;
  }
}

@media (max-width: 600px){
  .orderPage{
    padding: 0 17px;
  }
  .content{
    gap: 20px;
  }
  .backButton{
    img{
      width: 20px;
      height: 20px;
    }
  }
  .summary{
    padding: 8px 15px;
  }
  .product{
    gap: 5px;
  }
  .title{
    font-size: 13px;
  }
  .total{
    font-size: 16px;
    margin-top: 14px;
  }
  .form{
    padding: 8px 15px;
    input, textarea{
      font-size: 14px;
    }
  }
}
