.orderPage {
  max-width: 1100px;
  margin: 0 auto;
  padding: 32px;

  h1 {
    margin-bottom: 32px;
  }
}

.header {
  display: flex;
  justify-content: space-between; /* Заголовок слева, кнопка справа */
  align-items: center;
  margin-bottom: 24px; /* Отступ под заголовком */
}

.backButton {
  display: inline-flex;
  align-items: center;
  gap: 8px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #18aaff, #4e5aff); // яркий градиент
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 12px rgba(78, 90, 255, 0.4);
  img{
    width: 35px;
    height: 35px;
    transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
    filter: brightness(0) invert(1);
  }
  &:hover {
    background: linear-gradient(135deg, #4e5aff, #18aaff);
    transform: translateY(-2px);
    box-shadow: 0 6px 16px rgba(78, 81, 255, 0.5);
  }

  &:active {
    transform: translateY(0);
    box-shadow: 0 4px 12px rgba(78, 105, 255, 0.4);
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
}

/* ЗАКАЗ */
.summary {
  background: #ffffff;
  padding: 0 24px;
  border-radius: 12px;
  border: 1px solid #eee;

  h2 {
    margin-bottom: 16px;
  }
}

.product {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 12px;
  padding: 8px 0;
  border-bottom: 1px solid #eee;

  &:last-child {
    border-bottom: none;
  }
}

.title {
  font-size: 15px;
}

.count {
  white-space: nowrap;
}

.price {
  font-weight: 600;
  white-space: nowrap;
}

.total {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

/* ФОРМА */
.form {
  background: #f5f7fa;
  padding: 0 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 14px;

  h2 {
    margin-bottom: 12px;
  }

  input,
  textarea {
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }

  textarea {
    resize: vertical;
  }

  button {
    margin-top: 12px;
    background: #007bff;
    color: #fff;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      background: #0056b3;
    }
  }
}

@media (max-width: 768px) {
  .header{
    margin-bottom: 0;
  }
  .content {
    grid-template-columns: 1fr;
  }
}
