.page {
  display: grid;
  grid-template-columns: 420px 1fr 340px;
  align-items: flex-start;
  padding: 20px;
  width: 850px;
  background: #c0ebffc7;
  border-radius: 12px;
  margin: 0 auto;
}

/* ===== IMAGE ===== */
.image {

  img {
    width: 100%;
    border-radius: 8px;
    background: #f3f4f6;
  }
}

/* ===== ORDER ===== */
.order {
  margin-left: 30px;
  width: 350px;
  background: #2f3c8f;
  color: #fff;
  padding: 24px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.status {
  font-weight: 600;
  font-size: 15px;
}

.price {
  margin-top: 8px;
  display: flex;
  align-items: flex-end;
  gap: 10px;

  h1 {
    font-size: 28px;
    font-weight: 700;
  }

  p {
    font-size: 18px;
  }
}

.button {
  margin-top: auto;
  background: #ff7a00;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.2s;

  &:hover {
    background: #ff8f2a;
  }
}

/* ===== АДАПТИВ ===== */
@media (max-width: 1100px) {
  .page {
    grid-template-columns: 1fr;
  }

  .order {
    order: -1;
  }
}