.wrapper {
  padding: 48px 32px;
  background: linear-gradient(180deg, #f7fbff 0%, #eef6fd 100%);
  min-height: 100%;
}

/* Сетка карточек */
.team {
  padding-top: 26px;
  margin: 0 50px;
  margin-bottom: 30px;

  display: flex;
  // grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 28px;
  justify-content: center;
  flex-wrap: wrap;
}

/* Плавное появление всей секции */
.team {
  animation: fadePage .5s ease;
}

@keyframes fadePage {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* адаптивность */

@media (max-width: 900px) {
  .wrapper {
    padding: 36px 24px;
  }

  .team {
    gap: 22px;
  }
}

@media (max-width: 600px) {
  .wrapper {
    padding: 28px 16px;
  }
  .team {
    padding-top: 20px;
    margin: 0 70px;
    gap: 18px;
  }
}