.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  backdrop-filter: blur(8px);
  z-index: 9999;
}

.panel {
  position: fixed; 
  right: 0;
  top: 0;
  width: 540px;
  height: 100vh;
  background: #68b8ff;
  padding: 15px 20px;
  overflow-y: auto; //прокрутка корзины
  display: flex;
  flex-direction: column;
  z-index: 10000;
  box-shadow: -10px 0 40px rgba(0,0,0,0.15);
  border-radius: 0;
}

@media (max-width: 900px){
    .panel{
        width: 460px;
    }
}

@media (max-width: 530px){
    .panel{
        width: 370px;
        padding: 10px 15px;
    }
}
/* Мобильный bottom-sheet */
// @media (max-width: 768px) {
//   .panel {
//     width: 100%;
//     height: 85vh;
//     bottom: 0;
//     top: auto;
//     border-radius: 28px 28px 0 0;
//     box-shadow: 0 -30px 80px rgba(0,0,0,0.25);
//   }
// }