.headerRow {
  display: flex;
  align-items: center; // по вертикали центрируем
  gap: 15px; // расстояние между кнопкой и заголовком
}

//кнопка назад
.back {
  width: 40px;
  height: 40px;
  background: #f0f4ff;
  color: #007bff;
  font-size: 20px;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  margin-left: 30px;

  &:hover {
    background: #007bff;
    color: #fff;
    transform: translateY(-2px);
  }
}

//карточки с наименованием товара
.items {
  display: grid;
  gap: 17px;
  padding: 0;
  margin: 20px 0;
  flex-wrap: wrap;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 750px;
  padding: 12px 16px;
  border-radius: 12px;
  background: #9cceff;
  gap: 16px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  flex: 1;
}

.rightSide {
  display: flex;
  align-items: center;
  gap: 12px; // расстояние между ценой и кнопкой
}

.countPrice {
  font-size: 18px;
  font-weight: 600;
  color: rgb(255, 31, 31);
  text-align: right;
  min-width: 80px;
  p{
    font-size: 15px;
    color: #000000;
  }
}

.delete {
  border-radius: 8px;
  border: none;
  background: #040085;
  color: #ffffff;
  font-size: 14px;
  cursor: pointer;
  padding: 6px 10px;

  &:hover {
    background: #444;
  }
}

//Итог и кнопка оформить заказ
.right {
  margin-top: 20px;
  margin: 0 20px;
  border-top: 1px solid #0c5ca752;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  padding-top: 10px;
  gap: 80px;
}

.total {
  display: flex;
  align-items: center;
  gap: 15px;

  p {
    font-size: 18px;
    color: #505050;
    margin: 0;
  }

  h4 {
    font-size: 26px;
    font-weight: 700;
    margin: 0;
  }
}

.order {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 16px;
  border-radius: 8px;
  cursor: pointer;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;

  &:hover {
    background: #0056b3;
  }
}

//увеличение или уменьшение количество товара
.counter {
  display: flex;
  align-items: center;
  gap: 8px;

  button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
  }

  span {
    min-width: 24px;
    text-align: center;
  }
}

@media (max-width: 1400px){
  .title{
    font-size: 18px;
  }
  .total{
    h4{
      font-size: 24px;
    }    
  }
}

@media (max-width: 850px){
  .item{
    flex-direction: column;   // вместо display: grid
    align-items: flex-start;  // заголовок слева
    max-width: 450px;
    gap: 12px;
  }
  .rightSide{
    width: 100%;
    justify-content: flex-end;
    gap: 17px;
  }
  .title{
    font-size: 17px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
  }
  .total{
    h4{
      font-size: 22px;
    }    
  }
}

@media (max-width: 600px){
  .item{
    width: 350px;
    gap: 8px;
  }
  .back{
    margin-left: 15px;
  }
  .counter{
    button{
      font-size: 16px;
    }    
  }
  .right{
    margin-top: 10px;
    padding: 0 15px;
    padding-top: 10px;
    gap: 30px;
  }
  .total{
    h4{
      font-size: 18px;
    }
    p{
      font-size: 16px;
    }
  }
  .order{
    font-size: 14px;
    padding: 8px 12px;
  }
}

@media (max-width: 440px){
  .right{
    display: grid;
    gap: 15px;
  }
}