.container {
  // max-width: 1200px;
  // margin: 0 auto;
  padding: 0 250px;
  // padding: 32px 16px;
  font-family: Inter, system-ui, sans-serif;
  color: #1f2937;
  background:
    radial-gradient(circle at 20% 30%, #accdff, transparent 40%),
    radial-gradient(circle at 80% 70%, #a4d2ff, transparent 50%);
}

/* 🔍 Поиск */
.search {
  width: 100%;
  padding: 12px 16px;
  border-radius: 12px;
  border: 1px solid #6a9bff;
  margin: 20px 0 30px;
  font-size: 14px;
  transition: 0.2s;

  &:focus {
    outline: none;
    border-color: #3235f7;
    box-shadow: 0 0 0 3px rgba(99, 102, 241, 0.2);
  }
}

/* 📦 Сетка */
.itemsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 20px;
  padding-bottom: 25px;
}

//кнопки переключений страниц
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin-top: 24px;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

/* общие кнопки */
.pagination button {
  min-width: 36px;
  height: 36px;
  padding: 0 10px;
  border-radius: 10px;
  border: 1px solid #e5e7eb;
  background: #fff;
  color: #111827;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.2s ease;
  user-select: none;
}

/* hover */
.pagination button:hover:not(:disabled) {
  background: #1b51c7;
  color: #fff;
  border-color: 2px #031846;
  transform: translateY(-1px);
}

/* disabled */
.pagination button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* активная страница */
.activePage {
  background: #186cda !important;
  color: #fff !important;
  border-color: 3px #021233 !important;
  font-weight: 600;
  box-shadow: 0 4px 10px rgba(17, 24, 39, 0.2);
}

/* мобильная адаптация */
@media (max-width: 600px) {
  .pagination {
    gap: 6px;
  }

  .pagination button {
    min-width: 32px;
    height: 32px;
    font-size: 13px;
    border-radius: 8px;
  }
}

@media (max-width: 1200px){
  .container{
    padding: 0 100px;
  }
}

@media (max-width: 600px){
  .container{
    padding: 0 40px;
  }
}