---
import i18next, { t } from "i18next";
import { ViewTransitions } from 'astro:transitions';
---

<html lang={i18next.language}>
  <head>
    <ViewTransitions /> <!-- Добавляем поддержку плавных переходов -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta http-equiv="origin-trial" content="A7vZI3v+Gz7JfuRolKNM4Aff6zaGuT7X0mf3wtoZTnKv6497cVMnhy03KDqX7kBz/q/iidW7srW31oQbBt4VhgoAAACUeyJvcmlnaW4iOiJodHRwczovL3d3dy5nb29nbGUuY29tOjQ0MyIsImZlYXR1cmUiOiJEaXNhYmxlVGhpcmRQYXJ0eVN0b3JhZ2VQYXJ0aXRpb25pbmczIiwiZXhwaXJ5IjoxNzU3OTgwODAwLCJpc1N1YmRvbWFpbiI6dHJ1ZSwiaXNUaGlyZFBhcnR5Ijp0cnVlfQ==">
    <meta name="yandex-verification" content="8493e0037eb2c07f">
    <meta content="ООО Инженерно-Производственное Предприятие 'Новые Технологии' динамично развивающаяся компания, оказывающая комплекс услуг ряду отраслей ТЭК." name="description">
    <meta content="ООО ИПП «Новые технологии», нефтяное оборудование, оборудование нефтяной скважины, компания нефтяного оборудования, нефтяное оборудование уфа" name="keywords">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- <title>ООО ИПП «Новые технологии»</title> -->

    <title>{t('Новые Технологии')}</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
  </head>

  <body>
    <slot />
  </body>
</html>

<style is:global>
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
  }

  /* Анимация для плавных переходов между страницами */
  ::view-transition-old(root),
  ::view-transition-new(root) {
    animation-duration: 0.3s;
    animation-timing-function: ease-in-out;
  }

  /* Дополнительно: убираем мерцание в Safari */
  @media (prefers-reduced-motion: no-preference) {
    html {
      view-transition-name: none;
    }
  }
</style>